:root {
    --brand-color1: #ffffff;
    --brand-color2: #4d5ae5;
    --brand-color3: #2e2f42;
    --brand-color4: #434455;
    --brand-color5: #e7e9fc;
    --brand-color6: #f4f4fd;
    --brand-color7: #404bbf;

    --icon-color1: #2e2f42;
    --icon-color2: #4d5ae5;
    --icon-color3: #8e8f99;
    --icon-color4: #f4f4fd;
    --icon-hover2: #31d0aa;

    --brand-color-customer-link: #8e8f99;
    --brand-font-weight1: 800;
    --brand-font-weight2: 500;
    --brand-font-weight3: 700;
    --brand-font-weight4: 400;
    --brand-font-size1: 16px;
    --brand-font-size2: 18px;
    --brand-font-size3: 20px;
    --brand-font-size4: 36px;
    --font-size-modal-desc: 12px;
    --brand-font-size-title: 56px;
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
    font-family: "Roboto", sans-serif;
    background: var(--brand-color1);
    font-size: var(--brand-font-size1);
    font-weight: var(--brand-font-weight4);
    color: var(--brand-color4);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ==========HEADER========== */
.menu-navigation,
.adress-contacts {
    display: none;
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-units {
    font-weight: var(--brand-font-weight1);
    font-family: "Raleway", sans-serif;
    font-size: var(--brand-font-size2);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color2);
}

.studio {
    color: var(--brand-color3);
}

.foot-studio {
    color: var(--brand-color6);
}

.button-mobile-menu {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-icon {
    stroke: var(--brand-color3);
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}




@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
     .pr-cards-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     column-gap: 24px;
     row-gap: 48px;
 }
  .pr-cards-container {
    display: flex;
        flex-direction: column;
        align-items: center;
      column-gap: 24px;
      row-gap: 48px;
  }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu-navigation-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-top: 80px;

}

.adress-contacts-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    font-style: normal;
}

.menu-nav-links-mobile {
    font-weight: var(--brand-font-weight3);
    font-size: var(--brand-font-size4);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color3);
}

.menu-nav-links-mobile:hover,
.menu-nav-links-mobile:focus {
    color: var(--brand-color2);
}

.contact-tel-mobile {
    font-weight: var(--brand-font-weight3);
    font-size: var(--brand-font-size4);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--brand-color2);
}

.contact-email-mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: var(--brand-font-weight2);
    font-size: var(--brand-font-size3);
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color4);
}

.social-list-mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 56px;
    margin-top: 48px;
}


@media (max-width: 427px) {
    .contact-tel-mobile {
        font-weight: var(--brand-font-weight2);
        font-size: var(--brand-font-size3);
    }

    .social-list-mobile {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;

    }
}

.hero-dark-bg {
    background: rgba(46, 47, 66, 0.7);
    padding: 112px 0;
}

.background {
    max-width: 767px;
    height: 432px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .background {
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-img@x2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.image-hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
}

.efsol-title {
    font-weight: var(--brand-font-weight3);
    font-size: var(--brand-font-size4);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--brand-color1);
    max-width: 320px;
}

.main-but {
    background-color: var(--brand-color2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: var(--brand-font-weight2);
    font-size: var(--brand-font-size1);
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: var(--main-font-family);
    color: var(--brand-color1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color var(--transition-duration);
}

.button-text {
    font-weight: var(--brand-font-weight2);
    font-size: var(--brand-font-size1);
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-family: var(--main-font-family), sans-serif;

    color: var(--brand-color1);
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-but:hover,
.main-but:focus {
    background: var(--brand-color7);
}

.features-main-title {
    display: none;
}

.sect-one-container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
}

.features-container-text {
    padding: 0px;
}

.header-three {
    font-weight: var(--brand-font-weight2);
    font-size: var(--brand-font-size3);
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--brand-color3);
    margin-bottom: 8px;
    text-align: center;
}

.feature-text {
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-top: 8px;
}

.header-two,
.header-two-sect {
    font-weight: var(--brand-font-weight3);
    font-size: var(--brand-font-size4);
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--brand-color3);
}

.features-item {
    display: none;
}

.sect-two-container {
    display: none;
}

.sect-three-light-bg {
    background-color: var(--brand-color6);
}

.sect-three-container {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    margin-top: 72px;
}

.list-cards {
    background: var(--brand-color1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow var(--transition-duration);
}

.image-team-card {
    mix-blend-mode: normal;
}



.card-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 32px 0;
}

.profession {
    height: 24px;
    letter-spacing: 0.02em;
    font-size: var(--brand-font-size1);
    line-height: 1.5;
    color: var(--brand-color4);
    text-align: center;
}

/* ========Social links========= */

.social-list {
    display: flex;
    justify-content: center;
    margin: 8px auto;
    gap: 24px;
}

.social-icon {
    display: flex;
    fill: var(--brand-color6);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color2);
    transition: background-color var(--transition-duration);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--brand-color7);
}

.list-cards:hover,
.list-cards:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.sect-four-container {
    padding-bottom: 96px;
    padding-top: 96px;
}

.customer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: space-evenly;
    margin-top: 72px;
}

.custom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 88px;
    color: var(--brand-color-customer-link);
    border: 1px solid var(--brand-color-customer-link);
    border-radius: 4px;
    transition: border-color var(--transition-duration),
        color var(--transition-duration);
}

.custom-link:hover,
.custom-link:focus {
    border-color: var(--brand-color7);
    color: var(--brand-color7);
}

.custom-icon {
    margin: 16px 32px;
    fill: currentColor;
}

.foot-box {
    background: var(--brand-color3);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-container-one {
    margin-bottom: 72px;
    text-align: center;
}

.logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot-text {
    width: 264px;
    letter-spacing: 0.02em;
    color: var(--brand-color6);
    line-height: 1.5;
    text-align: left;
}

.soc-media {
    color: var(--brand-color1);
    margin-bottom: 16px;
    font-weight: var(--brand-font-weight2);
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}

.social-icon-footer {
    display: flex;
    fill: var(--brand-color6);
}

.social-list-foot {
    display: flex;
    justify-content: center;
    margin: 8px auto;
    gap: 16px;
}

.list-item-foot .social-link:hover,
.list-item-foot .social-link:focus {
    background-color: var(--icon-hover2);
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 72px;
    gap: 16px;
    width: 100%;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
}

.subscribe-label {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe-form-tittle {
    color: var(--brand-color1);
    margin-bottom: 16px;
    font-weight: var(--brand-font-weight2);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.subscribe-form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--brand-color1);
    border-radius: 4px;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: var(--font-size-modal-desc);
    color: var(--brand-color1);
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-form-input::placeholder {
    font-weight: var(--brand-font-weight4);
    color: var(--brand-color1);
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    font-size: var(--brand-font-size1);
    font-weight: var(--brand-font-weight2);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--brand-color1);
    border-radius: 4px;
    padding: 8px 16px;
    margin: auto;
    width: 165px;
    height: 40px;
    border: none;
    transition: background-color var(--transition-duration);
}

.subscribe-icon-send {
    margin-left: 16px;
    fill: var(--brand-color1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background: var(--brand-color7);
}

.sub-button-name {
    position: absolute;
    top: 10px;
    left: 320px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    gap: 16px;
    cursor: pointer;
}

.sub-button-name-subscribe {
    color: var(--brand-color1);
    font-weight: var(--brand-font-weight2);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*  ===============Portfolio styles===============   */

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filt-button {
    background: var(--brand-color6);
    border: 1px solid var(--brand-color5);
    border-radius: 4px;
    color: var(--brand-color2);
    padding: 12px 24px;
    transition: color var(--transition-duration),
        border-color var(--transition-duration),
        box-shadow var(--transition-duration),
        background-color var(--transition-duration);
}

.filt-button:hover,
.filt-button:focus {
    color: var(--brand-color1);
    background: var(--brand-color7);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid transparent;
}

.section {
    padding: 96px 0 120px;
}


.pr-card-link {
    display: block;
    transition: box-shadow var(--transition-duration);
}

.pr-card-link:hover,
.pr-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.pr-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}

.prcards-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    padding: 32px 16px;
    gap: 8px;
    border: 1px solid var(--brand-color5);
    border-top: none;
}

.cards-images {
    mix-blend-mode: normal;
}


.header-three-portfolio {
    font-weight: var(--brand-font-weight2);
    font-size: var(--brand-font-size3);
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--brand-color3);
    margin-bottom: 8px;
}

.app-portfolio {
    height: 24px;
    letter-spacing: 0.02em;
    font-size: var(--brand-font-size1);
    line-height: 1.5;
    color: var(--brand-color4);
}

.pr-card-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: var(--brand-color2);
    top: 0;
    left: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color6);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transition-duration);
}

.pr-card-link:hover .overlay,
.pr-card-link:focus .overlay {
    transform: translateY(0%);
}


/* =========== Styles for tablet=========== */

@media screen and (min-width: 768px) {

    .button-mobile-menu,
    .mobile-menu {
        display: none;
    }

    .menu-navigation,
    .adress-contacts {
        display: flex;
    }

    .page-header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 72px;
    }

    .page-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-navigation {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-left: 120px;
    }

    .menu-nav-links {
        position: relative;
        font-weight: var(--brand-font-weight2);
        font-size: var(--brand-font-size1);
        letter-spacing: 0.02em;
        color: var(--brand-color3);
        line-height: 1.5;
        padding: 24px 0;
        transition: color var(--transition-duration);
    }

    .adress-contacts {
        font-style: normal;
    }

    .link-contacts {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .link-contacts .link {
        letter-spacing: 0.02em;
        color: var(--brand-color4);
        font-size: var(--font-size-modal-desc);
    }

    .index-window,
    .portfolio-window {
        color: var(--brand-color7);
    }

    .index-window::after {
        position: absolute;
        display: flex;
        left: 0;
        bottom: -1px;
        top: 45px;
        content: "";
        margin-top: 20px;
        background-color: var(--brand-color7);
        width: 48px;
        height: 4px;
        border-radius: 2px;
    }

    .portfolio-window::after {
        position: absolute;
        display: flex;
        left: 0;
        bottom: -1px;
        top: 44px;
        content: "";
        margin-top: 20px;
        background-color: var(--brand-color7);
        width: 66px;
        height: 4px;
        border-radius: 2px;
    }

    .background {
        min-width: 768px;
        height: 436px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-img@x2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .background {
            min-width: 768px;
            height: 436px;
            margin: 0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero-img@x2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    .image-hero-container {
        row-gap: 36px;
    }

    .efsol-title {
        font-weight: var(--brand-font-weight3);
        font-size: var(--brand-font-size-title);
        line-height: 1.07;
        max-width: 496px;
    }

    .features-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: calc((100% - 24px) / 2);
    }

    .container-team-card {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 64px 24px;
    }

    .customer-list {
        display: flex;
        gap: 72px 24px;
        justify-content: center;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        margin: 0 auto;
        gap: 72px 24px;
        padding-left: 108px;
    }

    .footer-container-one {
        text-align: left;
        margin: 0;
    }

    .logo {
        display: inline-block;
        margin-bottom: 16px;
    }



    .soc-media {
        text-align: left;
    }


    .subscribe-container {
        display: block;
        margin: 0;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .subscribe-label {
        display: flex;
        flex-direction: row;
        gap: 24px;
        margin-right: 24px;
    }

    .subscribe-form-input {
        width: 264px;
        height: 40px;
    }
.pr-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

        .pr-cards {
            background: var(--brand-color1);
            width: calc((100% - 48px) / 2);
        }
}

/* ======= Styles for desktop========= */

@media screen and (min-width: 1158px) {
    .page-header {
        background: var(--brand-color1);
        border-bottom: 1px solid var(--brand-color5);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .page-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .page-navigation {
        display: flex;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .menu-nav-links:hover,
    .menu-nav-links:focus {
        color: var(--brand-color7);
    }

    .index-window,
    .portfolio-window {
        color: var(--brand-color7);
    }

    .index-window::after {
        position: absolute;
        display: flex;
        left: 0;
        bottom: -1px;
        top: 44px;
        content: "";
        margin-top: 20px;
        background-color: var(--brand-color7);
        width: 48px;
        height: 4px;
        border-radius: 2px;
    }

    .portfolio-window::after {
        position: absolute;
        display: flex;
        left: 0;
        bottom: -1px;
        top: 44px;
        content: "";
        margin-top: 20px;
        background-color: var(--brand-color7);
        width: 66px;
        height: 4px;
        border-radius: 2px;
    }



    .link-contacts {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 40px;
        justify-content: flex-end;
    }

    .link-contacts .link {
        letter-spacing: 0.02em;
        color: var(--brand-color4);
        transition: color var(--transition-duration);
    }

    .link-contacts .link:hover,
    .link-contacts .link:focus {
        color: var(--brand-color7);
    }

    .hero-dark-bg {
        padding: 188px 0;
        height: 600px;
    }

    .background {
        max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1168px),
    screen and (min-resolution: 192dpi) and (min-width: 1168px),
    screen and (min-resolution: 2dppx) and (min-width: 1168px) {
        .background {
            max-width: 1440px;
            margin: 0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url("../images/hero-img@x2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
    }

    .image-hero-container {
        row-gap: 48px;
    }

    .efsol-title {
        font-weight: var(--brand-font-weight3);
        font-size: var(--brand-font-size-title);
        line-height: 1.07;
        color: var(--brand-color1);
        max-width: 496px;
    }

    .main-but:hover,
    .main-but:focus {
        background: var(--brand-color7);
    }


    .sect-one-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .features-container-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: calc((100% - 72px) / 4);
    }

    .header-three {
        font-weight: var(--brand-font-weight2);
        font-size: var(--brand-font-size3);
        letter-spacing: 0.02em;
        line-height: 1.2;
        color: var(--brand-color3);
        margin-bottom: 8px;
        text-align: center;
    }

    .feature-text {
        letter-spacing: 0.02em;
        line-height: 1.5;
    }

    .header-two {
        font-weight: var(--brand-font-weight3);
        font-size: var(--brand-font-size3);
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color3);
    }

    .header-two-sect {
        font-weight: var(--brand-font-weight3);
        font-size: var(--brand-font-size4);
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color3);
    }

    .features-item {
        display: flex;
        justify-content: center;
        height: 112px;
        align-items: center;
        margin-bottom: 8px;
        background-color: var(--brand-color6);
        background-size: contain;
        border-radius: 4px;
    }

    .features-icon {
        margin: 24px 100px;
    }

    /* ================Section 2============ */
    .sect-two-container {
        display: block;
        padding-bottom: 120px;
    }

    .sect-two-list {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 72px;
    }

    .sect-two-cards {
        width: calc((100% - 48px) / 3);
    }

    /* =====================Section 3 ==========================  */

    .sect-three-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container-team-card {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .list-cards {
        background: var(--brand-color1);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        width: calc((100% - 3 * 24px) / 4);
        transition: box-shadow var(--transition-duration);
    }

    .card-content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        padding: 32px 0;
    }

    .profession {
        height: 24px;
        letter-spacing: 0.02em;
        font-size: var(--brand-font-size1);
        line-height: 1.5;
        color: var(--brand-color4);
        text-align: center;
    }

    /* =============Section 4================= */
    .sect-four-container {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .header-two-cust {
        font-weight: var(--brand-font-weight3);
        font-size: var(--brand-font-size4);
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--brand-color3);
        margin-bottom: 72px;
    }

    .customer-list {
        display: flex;
        gap: 24px;
        justify-content: space-evenly;
    }

    .custom-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 168px;
        height: 88px;
        color: var(--brand-color-customer-link);
        border: 1px solid var(--brand-color-customer-link);
        border-radius: 4px;
        transition: border-color var(--transition-duration),
            color var(--transition-duration);
    }

    .custom-link:hover,
    .custom-link:focus {
        border-color: var(--brand-color7);
        color: var(--brand-color7);
    }

    /* ==============Footer========================= */
    .foot-box {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 0;
        padding: 0;
    }

    .footer-container-one {
        padding-right: 120px;
    }

    .list-item-foot .social-link:hover,
    .list-item-foot .social-link:focus {
        background-color: var(--icon-hover2);
    }

    .subscribe-container {
        display: block;
        padding-left: 80px;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        position: relative;
        gap: 24px;
    }

    .subscribe-label {

        margin-right: 0;
    }

    .subscribe-form-tittle {
        color: var(--brand-color1);
        margin-bottom: 16px;
        font-weight: var(--brand-font-weight2);
        letter-spacing: 0.02em;
        line-height: 1.5;
    }

    .subscribe-form-input {
        width: 264px;
        height: 40px;
        background-color: transparent;
        outline: none;
        border: 1px solid var(--brand-color1);
        border-radius: 4px;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-size: var(--font-size-modal-desc);
        color: var(--brand-color1);
        line-height: 1.5;
        letter-spacing: 0.04em;
    }

    .subscribe-form-input::placeholder {
        font-weight: var(--brand-font-weight4);
        color: var(--brand-color1);
    }

    .subscribe-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--brand-color2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        font-family: "Roboto", sans-serif;
        font-size: var(--brand-font-size1);
        font-weight: var(--brand-font-weight2);
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--brand-color1);
        border-radius: 4px;
        padding: 8px 16px;
        min-width: 165px;
        height: 40px;
        border: none;
        transition: background-color var(--transition-duration);
    }

    .subscribe-icon-send {
        margin-left: 16px;
        fill: var(--brand-color1);
    }

    .subscribe-button:hover,
    .subscribe-button:focus {
        background: var(--brand-color7);
    }

    .sub-button-name {
        position: absolute;
        top: 10px;
        left: 320px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        gap: 16px;
        cursor: pointer;
    }

    .sub-button-name-subscribe {
        color: var(--brand-color1);
        font-weight: var(--brand-font-weight2);
        letter-spacing: 0.02em;
        line-height: 1.5;
    }

    /*  ===============Portfolio styles===============   */


    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 72px;
        gap: 24px;
    }

    .filt-button {
        background: var(--brand-color6);
        border: 1px solid var(--brand-color5);
        border-radius: 4px;
        color: var(--brand-color2);
        padding: 12px 24px;
        transition: color var(--transition-duration),
            border-color var(--transition-duration),
            box-shadow var(--transition-duration),
            background-color var(--transition-duration);
    }

    .filt-button:hover,
    .filt-button:focus {
        color: var(--brand-color1);
        background: var(--brand-color7);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        border: 1px solid transparent;
    }

    .section {
        padding: 96px 0 120px;
    }

    .pr-cards {
        background: var(--brand-color1);
        width: calc((100% - 48px) / 3);
    }

    .pr-card-link {
        display: block;
        transition: box-shadow var(--transition-duration);
    }

    .pr-card-link:hover,
    .pr-card-link:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .pr-cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .prcards-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;
        padding: 32px 16px;
        gap: 8px;
        border: 1px solid var(--brand-color5);
        border-top: none;
    }

    .cards-images {
        mix-blend-mode: normal;
    }



    .header-three-portfolio {
        font-weight: var(--brand-font-weight2);
        font-size: var(--brand-font-size3);
        letter-spacing: 0.02em;
        line-height: 1.2;
        color: var(--brand-color3);
        margin-bottom: 8px;
    }

    .app-portfolio {
        height: 24px;
        letter-spacing: 0.02em;
        font-size: var(--brand-font-size1);
        line-height: 1.5;
        color: var(--brand-color4);
    }

    .pr-card-wrapper {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        background-color: var(--brand-color2);
        top: 0;
        left: 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--brand-color6);
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        transform: translateY(100%);
        transition: transform var(--transition-duration);
    }

    .pr-card-link:hover .overlay,
    .pr-card-link:focus .overlay {
        transform: translateY(0%);
    }
}

/* ==============Modal window ==============*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity var(--transition-duration),
        visibility var(--transition-duration);
}

.modal {
    position: absolute;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    /* DAIRY */

    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration);
}

.close-modal-btn,
.close-mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--brand-color5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-duration),
        border var(--transition-duration);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: var(--brand-color7);
    border: none;
}

.close-mobile-menu-btn:hover,
.close-mobile-menu-btn:focus {
    background-color: var(--brand-color7);
    border: none;
}

.modal-close,
.mobile-menu-close {
    fill: var(--brand-color3);
    transition: fill var(--transition-duration);
}

.close-modal-btn:hover .modal-close,
.close-modal-btn:focus .modal-close {
    fill: var(--brand-color1);
}

.close-mobile-menu-btn:hover .mobile-menu-close,
.close-mobile-menu-btn:focus .mobile-menu-close {
    fill: var(--brand-color1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-contact-title {
    text-align: center;
    font-size: var(--brand-font-size1);
    font-weight: var(--brand-font-weight2);
    color: var(--brand-color3);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    line-height: 1.5;
}

.contact-form-name {
    margin-bottom: 8px;
}

.contact-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: var(--brand-font-weight4);
    font-size: var(--font-size-modal-desc);
    color: var(--icon-color3);
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color var(--transition-duration);
}

.contact-form-icons {
    position: absolute;
    display: block;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition-duration);
}

.contact-form-input-wrapper {
    position: relative;
    display: block;
}

.contact-form-input:focus,
.contact-form-comment:focus {
    outline: none;
    border-color: var(--brand-color2);
}

.contact-form-input:focus+.contact-form-icons {
    outline: none;
    fill: var(--brand-color2);
}

.comment-container {
    margin-bottom: 16px;
}

.contact-form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-weight: var(--brand-font-weight4);
    font-size: var(--font-size-modal-desc);
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color var(--transition-duration);
}

.visually-hidden {
    appearance: none;
}

.contact-form-checkbox-label {
    column-gap: 8px;
    font-weight: var(--brand-font-weight4);
    font-size: var(--font-size-modal-desc);
    color: var(--icon-color3);
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contact-form-check-icon {
    cursor: pointer;
}

.checkbox-container {
    margin-bottom: 24px;
}

.accept-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
}

/* input + label > span */

.contact-form-checkbox:checked+.contact-form-checkbox-label .accept-icon {
    background-color: var(--brand-color7);
    border: none;
    fill: var(--brand-color1);
    border-color: var(--brand-color7);
}

.link-policy {
    font-weight: var(--brand-font-weight4);
    font-size: var(--font-size-modal-desc);
    color: var(--brand-color2);
}

.contact-form-button {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}
